@model IEnumerable<WebApplication5.Models.GrupiLenda>

@{
    ViewData["Title"] = "Index";
}
<div class="bg-light p-5 rounded">
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>Grupi</th>
                <th>Lenda</th>
                <th>Veprime</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                    <td>@Html.DisplayFor(modelItem => item.Grupi.Emri)</td>
                    <td>@Html.DisplayFor(modelItem => item.Subject.Name)</td>
            <td>
             
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>