@model IEnumerable<WebApplication5.Models.StudentTeacher>

@{
    ViewData["Title"] = "Index";
    string emri = "";
    string mbiemri = "";
    int id = 0;

  
    foreach(var item in Model)
    {
        emri = item.Student.Name;
        mbiemri = item.Student.Surname;
        id = item.StudentId;
      
    }
 

}
<div class="bg-light p-5 rounded">
<h1>Lidhjet e Studentit/es @emri @mbiemri</h1>

    <p>
        <a asp-action="Create" asp-route-id="@id">Krijo</a>
    </p>



<div style="overflow-x: scroll">

<table class="table align-middle">
    <thead>
        <tr class="text-center  align-middle">
            <th>
                @Html.DisplayNameFor(model => model.Student.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher.Surname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="text-center  align-middle">
            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
                
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Surname)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.Name)
            </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.Teacher.Surname)
                </td>
             <td class="align-items-center "style="display:flex;   flex-direction:column;">


                
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id" style="margin-bottom:17px;width:150px;">Fshij</a>


                    </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>