@using X.PagedList.Mvc.Core; <!--import to get HTML Helper-->
@using X.PagedList;
@model IEnumerable<WebApplication5.Models.Student>

@{
	ViewData["Title"] = "Students";
	Student s = new Student();
	
	List<int?> lidhjet = new List<int?>();
	foreach (var item in Model)
	{
		lidhjet.Add(item.Id);
		s.FakultetiId = item.FakultetiId;
	}
}
@*
	<a asp-action="Admin" asp-controller="Home" class="btn btn-primary float-md-start" style="margin-right:15px;"><i class="bi bi-arrow-90deg-left text-white"></i></i> </a>*@
	<h1 class="mt-3 mb-3">Studentët</h1>

@if(lidhjet.Count>2){
 
}
<p>
	<a asp-action="CreateFirst" asp-controller="StudentTeachers" asp-route-id="@s.FakultetiId">Krijo së pari</a>
</p>
	@*<a asp-action="CreateFirst" asp-controller="StudentTeachers" asp-route-id="@s.FakultetiId" class="mt-4">Create</a>*@

<table class="table mt-3 " style="margin: auto;
  width: 80%;

  padding: 10px;">
	<thead>

		<tr class="text-center ">
			
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Surname)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>Actions</th>


			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr class="text-center  align-middle">
				
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Surname)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>


					<td class="align-middle" style="display:flex; flex-direction:column;">


						<a asp-action="Index" class="btn btn-success" asp-controller="StudentTeachers" asp-route-id="@item.Id">Lidhjet</a>
						


					</td>
				
			</tr>
		}
	</tbody>
</table>
<div class=" d-flex align-items-center justify-content-center mt-4">
	@Html.PagedListPager((IPagedList)Model, page => Url.Action("Students", new { page = page }),
	new X.PagedList.Mvc.Common.PagedListRenderOptions
	{
	DisplayItemSliceAndTotal = true,
	ContainerDivClasses = new[] { "navigation" },
	LiElementClasses = new[] { "page-item" },
	PageClasses = new[] { "page-link" },
	})
</div>
@section Scripts{
	<script>
		// Workaround to fix style of text for showing items .. through ..
		// Problem related to Boostrap 4 according to issue in link below
		// https://github.com/dncuug/X.PagedList/issues/127
		$(document).ready(function () {
			$('ul.pagination > li.disabled > a').addClass('page-link');
		});
	</script>
}