@model IEnumerable<WebApplication5.Models.SubjectTeacher>

@{
    ViewData["Title"] = "Index";


    string emri = "";
    string mbiemri = "";
    int id = 0;
    
    foreach(var item in Model)
    {
        emri = item.Teacher.Name;
        mbiemri = item.Teacher.Surname;
        id = item.Teacher.Id;
    }
 

}
<div class="bg-light p-5 rounded">

<h1>Lidhjet e Profesorit/eshes @emri @mbiemri</h1>

<p>
    <a asp-action="Create"asp-route-id="@id">Krijo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.Name)
            </td>

                    <td class="align-middle" style="display:flex; flex-direction:column;">


                                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id" style="margin-bottom:17px">Fshij</a>


                    </td>
        </tr>
}
    </tbody>
</table>
</div>