@using X.PagedList.Mvc.Core; <!--import to get HTML Helper-->
@using X.PagedList;
@model IEnumerable<WebApplication5.Models.Teacher>

@{
	ViewData["Title"] = "Profesorët";
	Teacher t = new Teacher();
	Fakulteti fakulteti = new Fakulteti();
	int id = 0;
	foreach(var item in Model)
	{
		id = item.FakultetiId;
	}
}
<div class="bg-light p-5 rounded">
<h1 class="mt-3 mb-3">Mësimdhënësit</h1>


<p>
	<a asp-action="CreateFirst" asp-controller="SubjectTeachers" style="text-decoration:none;">Krijo së pari</a>
</p>
<table class="table">
	<thead>
		<tr class="text-center">
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Surname)
			</th>
		
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
		
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr class="text-center align-middle">
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Surname)
				</td>
			
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
		

					<td class="align-middle" style="display:flex; flex-direction:column;">


						<a asp-action="Index" class="btn btn-success" asp-controller="SubjectTeachers" asp-route-id="@item.Id">Lëndët</a>
						


					</td>
			</tr>
		}
	</tbody>
</table>
</div>
	<div class=" d-flex align-items-center justify-content-center mt-4">
	@Html.PagedListPager((IPagedList)Model, page => Url.Action("Teachers", new { page = page }),
        new X.PagedList.Mvc.Common.PagedListRenderOptions
        {
        DisplayItemSliceAndTotal = true,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
        })
	</div>
@section Scripts{
		<script>
			// Workaround to fix style of text for showing items .. through ..
			// Problem related to Boostrap 4 according to issue in link below
			// https://github.com/dncuug/X.PagedList/issues/127
			$(document).ready(function () {
				$('ul.pagination > li.disabled > a').addClass('page-link');
			});
		</script>
}