@inject UserManager<ApplicationUser> UserManager;
@using Microsoft.AspNetCore.Identity;
@{
	Student s = new Student();
	Teacher t = new Teacher();
	Subject su = new Subject();



}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - WebApplication5</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/WebApplication5.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
		  integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
		  crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>
<body>
	<style>
		.sidebar {
			posi ti on: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			pad ding: 58px 0 0;
			/ * Height of nav bar */ box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
			width: 240px;
			z-index: 600;
		}

		nav-item.active a {
			color: red;
		}

	</style>
	<header style="background-color:#1d2e68;color:white;">
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light text-white border-bottom box-shadow " style="height:50px;color:white;">
			<div class="container-fluid" style="color:white; padding: 0;">
				@if (User.Identity.IsAuthenticated)
				{
					@*				<a class="navbar-brand text-white" asp-area="" asp-controller="" asp-action="">SMIS</a>*@
					<a class="navbar-brand text-white" style="margin-left:20px">SMIS</a>
				}
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

			<div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" style="background-color: #1d2e68;">

				@if (User.Identity.IsAuthenticated)
				{
					<ul class="navbar-nav flex-grow-1" style="color:white;">
						@if (User.IsInRole("ADMIN"))
						{
							<li class="nav-item" style="list-style:none;">
								<a class="nav-link text-white " asp-area="Admin" asp-controller="Admin" asp-action="Home">Paneli i kontrollit</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link text-white" asp-area="Admin" asp-controller="Report" asp-action="Index">Raportet</a>

							</li>
							<li class="nav-item ">
								<a class="nav-link text-white" asp-area="Admin" asp-controller="Afat" asp-action="Index">Afatet</a>

							</li>
							<li class="nav-item" style="list-style:none;">
								<a class="nav-link text-white" asp-area="Admin" asp-controller="Admin" asp-action="Admins">Administratorët</a>
							</li>
							<li class="nav-item" style="list-style:none;">
								<a class="nav-link text-white" asp-area="Admin" asp-controller="Admin" asp-action="Users">Përdoruesit</a>
							</li>
							<li class="nav-item" style="list-style:none;">
								<a class="nav-link text-white" asp-area="Admin" asp-controller="Admin" asp-action="UserRoless">Përdorues-Rol</a>
							</li>
							<li class="nav-item" style="list-style:none;">
								<a class="nav-link text-white" asp-area="Admin" asp-controller="Admin" asp-action="Notat">Notat</a>
							</li>
						}


					</ul>
				}

@*				@if (User.Identity.IsAuthenticated)
				{
					<button class="btn btn-success dropdown-toggle" type="button" id="profile-btn" data-toggle="dropdown"
						aria-expanded="false">
						<i class="bi bi-person-badge"></i>Hello @UserManager.GetUserName(User)
					</button>
					<form asp-controller="Account" asp-action="Logout">
						<button class="btn btn-danger my-2 my-sm-0">
							<i class="bi bi-box-arrow-in-right"></i>Log out
						</button>
					</form>
				}*@
					@if (User.Identity.IsAuthenticated)
					{
						@*						<button class="btn btn-success dropdown-toggle" style="margin-right: 15px;"type="button" id="profile-btn" data-toggle="dropdown"
					aria-expanded="false">
					<i class="bi bi-person-badge"></i>Hello @UserManager.GetUserName(User)
					</button>
					<form asp-controller="Account" asp-action="Logout">
					<button class="btn btn-danger my-2 my-sm-0" style="margin-right: 20px;">
					<i class="bi bi-box-arrow-in-right"></i>Log out
					</button>
					</form>*@

						<div class="dropdown">
							<button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="bi bi-person-badge"></i> Hello @UserManager.GetUserName(User)
							</button>
							<div class="dropdown-menu " style="background-color:#DC3545;" aria-labelledby="dropdownMenuButton">
								<form asp-controller="Account" asp-action="Logout">
									<button class="dropdown-item  " style="background-color:#DC3545; color:white;">
										<i class="bi bi-box-arrow-in-right "></i> Log out
									</button>
								</form>
							</div>
						</div>


					}
		



			</div>
			</div>
		</nav>

	</header>


	<div class="container">
		<main role="main">
			<partial name="_Notification" />
			@RenderBody()
		</main>
	</div>


	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
