@model IEnumerable<WebApplication5.Models.Student>

@{
    ViewData["Title"] = "MyProfile";
    string email = "";
}

<h1 class="mt-3">Profili im</h1>

@*
<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Residence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" style="width:128px;height:150px;" />

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Residence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nationality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                
            </tr>
        }
    </tbody>
</table>*@


<section class="bg-light">
    @foreach (var item in Model)
    {
        email=item.Email;
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-4 mb-sm-5">
                    <div class="card card-style1 border-0">
                        <div class="card-body col-md-9 p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                            <div class="row align-items-center">
                                <div class="col-lg-6 mb-4 mb-lg-0">
                                    <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" style="width:60%;height:auto;" alt="...">
                                </div>
                                <div class="col-lg-6 px-xl-10" >
                                    
                                    <div style="background-color:#15395A; padding-left:10px;" class=" d-lg-inline-block col-md-9 py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                        <h3 class="h2 text-white mb-0">@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)</h3>
                                        
                                       
                                        <span class="text-warning">Student</span>
                                    </div>
                                    <ul class="list-unstyled mb-1-9 mt-2">
                                        <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> @Html.DisplayFor(modelItem => item.Email)</li>
                                        <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Parent name:</span> @Html.DisplayFor(modelItem => item.ParentName)</li>
                                        <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Birthday:</span> @item.Birthday.ToString("dd.MM.yyyy")</li>
                                        <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Residence:</span> @Html.DisplayFor(modelItem => item.Residence.Name)</li>
                                        <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Nationality:</span> @Html.DisplayFor(modelItem => item.Nationality.Name)</li>
                                        <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">State:</span> @Html.DisplayFor(modelItem => item.State.Name)</li>
                                        <li class="display-28 mb-2 mb-xl-3"><span class="display-26 text-secondary me-2 font-weight-600">Phone:</span> @Html.DisplayFor(modelItem => item.Phone)</li>
                                        <li class="display-28 mb-2 mb-xl-3"><span class="display-26 text-secondary me-2 font-weight-600">Fakulteti:</span> @Html.DisplayFor(modelItem => item.Fakulteti.Emri)</li>
                                    </ul>
                                    <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                                        <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
                                        <li><a href="#!"><i class="ti-facebook"></i></a></li>
                                        <li><a href="#!"><i class="ti-pinterest"></i></a></li>
                                        <li><a href="#!"><i class="ti-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <a asp-action="GenerateStudentById" asp-controller="Report" asp-area="Admin" asp-route-id="@item.Id" class="btn btn-primary">Shkarko Vërtetimin</a>
    }
</section>




