@model IEnumerable<WebApplication5.Models.Transkripta>

@{
    ViewData["Title"] = "Studentët e pa vleresuar";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Nota == null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nota)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.Name)
                    </td>
                    <td>
                        @if (User.IsInRole("Teacher"))
                        {
                            <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.Id">Vlerëso</a>
                           
                        }

                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Fshij</a>

                    </td>
                </tr>
            }

        }
    </tbody>
</table>
