@model IEnumerable<WebApplication5.Models.Transkripta>

@{
    ViewData["Title"] = "Provimet e paraqitura";
}
<h1>Provimet e paraqitura</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Nota == null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nota)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.Name)
                    </td>
                    <td>
                        @if (User.IsInRole("Teacher"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        }

                        <a asp-action="Delete" asp-route-id="@item.Id">Anulo</a>

                    </td>
                </tr>
            }
            
        }
    </tbody>
</table>
