@using X.PagedList.Mvc.Core; <!--import to get HTML Helper-->
@using X.PagedList;
@model IEnumerable<ApplicationUser>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Perdoruesit";
}





<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Të gjithë përdoruesit me rol "Përdorues"</h4>
       
        </p>


        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
  
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                  
                    </tr>
                }
            </tbody>

        </table>

    </div>
    <div class=" d-flex align-items-center justify-content-center mt-4">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Users", new { page = page }),
        new X.PagedList.Mvc.Common.PagedListRenderOptions
        {
        DisplayItemSliceAndTotal = true,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
        })
    </div>
</div>

@section Scripts{
        <script>
            // Workaround to fix style of text for showing items .. through ..
            // Problem related to Boostrap 4 according to issue in link below
            // https://github.com/dncuug/X.PagedList/issues/127
            $(document).ready(function () {
                $('ul.pagination > li.disabled > a').addClass('page-link');
            });
        </script>
}