
@model IEnumerable<WebApplication5.Models.StudentTeacher>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
<h1 class="mt-3 mb-3">Studentët</h1>

<table class="table mt-3 " style="margin: auto;
  width: 80%;

  padding: 10px;">
	<thead>

		<tr class="text-center ">
			<th>
				@Html.DisplayNameFor(model => model.Student.ImageUrl)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Student.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Student.Surname)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Student.Email)
			</th>
			
				<th>
				@Html.DisplayNameFor(model => model.Student.Fakulteti.Emri)
				</th>
				
			


			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr class="text-center  align-middle">
				<td>
					<img src="@Html.DisplayFor(modelItem => item.Student.ImageUrl)" style="width:128px;height:150px;" />

				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Student.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Student.Surname)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Student.Email)
				</td>

				

					<td>
					@Html.DisplayFor(modelItem => item.Student.Fakulteti.Emri)
					</td>


					
				
			</tr>
		}
	</tbody>
</table>